@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-toastify/dist/ReactToastify.css';

@layer base {
	h1 {
		@apply text-5xl font-bold tracking-wide;
		font-family: var(--font-concert-one);
		line-height: 1.2;
	}

	h2 {
		@apply text-4xl font-bold tracking-wide;
		font-family: var(--font-concert-one);
		line-height: 1.3;
	}

	h3 {
		@apply text-3xl font-bold tracking-wide;
		font-family: var(--font-concert-one);
		line-height: 1.4;
	}

	h4 {
		@apply text-2xl font-bold tracking-wide;
		font-family: var(--font-concert-one);
		line-height: 1.4;
	}

	h5 {
		@apply text-xl font-bold tracking-wide;
		font-family: var(--font-concert-one);
		line-height: 1.5;
	}

	h6 {
		@apply text-lg font-bold tracking-wide;
		font-family: var(--font-concert-one);
		line-height: 1.5;
	}
}

body {
	@apply text-gray-600 overflow-x-hidden;

	&.no-scroll {
		overflow: hidden;
	}
}

/* Custom Toastify Styles */
.Toastify__toast-container {
	top: 0.5rem;
	right: 0.5rem;
}

.Toastify__toast {
	@apply !text-3xl border-none rounded-xl shadow-xl p-3 px-5 pb-2 bg-white;
	font-family: var(--font-dongle);
}

.Toastify__toast--success {
	background-color: #22c55e;
	color: white;
}

.Toastify__toast--info {
	background-color: #7e7ee8;
	color: white;
}

.Toastify__toast--error {
	background-color: #ef4444;
	color: white;
}

.Toastify__toast-body {
	padding: 0;
	margin: 0;
}

.Toastify__close-button {
	@apply opacity-100 pt-2;

	svg {
		@apply w-6 h-6;
	}
}

.Toastify__close-button:hover {
	opacity: 1;
}

.Toastify__close-button--light {
	color: #4b5563;
	opacity: 0.7;
}

.Toastify__close-button--light:hover {
	opacity: 1;
}

html {
	@apply h-full;
}

body {
	@apply flex flex-col justify-start items-start flex-grow w-full min-h-full;
}